<h2>編集</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス(必須)", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード", class: "form-control" %>
          <% if @minimum_password_length %>
          <div class="text-muted">
            <em><%= @minimum_password_length %> 文字以上</em>
          </div>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認)", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード(必須)", class: "form-control" %>
        </div>

        <div class="circle-image">
          <% if current_user.persisted? && current_user.image? %>
            <%= image_tag current_user.image.url %>
            <label><%= f.check_box :remove_image %> 画像を削除</label>
          <% else %>
            <%= image_tag '/default/default_user.png' %>
            <%= f.hidden_field :image_cache %>
          <% end %>
          <div class="form-group">
            <%= f.file_field :image, class: "form-control-file" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: 'btn btn-warning btn-block' %>
        </div>
      <% end %>

      <div class="user-delete">
        <%= button_to "アカウント削除する", registration_path(resource_name),
        data: { confirm: "本当に削除しますか？" }, method: :delete, class: 'btn btn-danger btn-block' %>
      </div>

      <%= link_to "戻る", :back %>
    </div>
  </div>
</div>
