<% provide(:title, "マイページ") %>
<div class="container">
  <div class="row">
    <%= render 'user_info' %>
    <div class="col-md-8">
      <% if @user.reviews.any? %>
        <h3><%= @user.reviews.count %>件のレビュー</h3>
        <ol class="reviews">
          <%= render 'shared/review', reviews: @reviews %>
        </ol>
        <%= will_paginate @reviews %>
      <% else %>
        <div class="text-center">
          <h1>レビューを投稿しよう！！</h1>
          <%= link_to 'タイヤを選ぶ', items_path, class: 'btn btn-warning btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
