<% reviews.each do |review| %>
  <li id="review-<%= review.id %>">
    <div class="row">
      <% unless current_page?(item_path(review.item.id)) %>
        <div class="col-md-8">
      <% else %>
        <div class="col-md-12">
      <% end %>
        <div class="review-content">
          <h4><%= review.title %></h4>
          <div class="review-user">
            <img src=<%= review.user.image.url %>>
          </div>
          <div class="info">
            <span class="user"><%= link_to review.user.name, review.user %></span>
          </div>
          <div id="star-rate-<%= review.id %>"><%= review.rate %></div>

          <div class="content">
            <span class="content"><%= review.content %></span>
            <span class="content-image"><%= image_tag review.image.url if review.image? %></span>
            <div class="timestamp">
              <span class="timestamp">
                投稿 <%= time_ago_in_words(review.created_at) %> 前
                <% if review.item.present? && current_page?(user_path(current_user.id)) && current_user?(current_user) %>
                  <%= link_to '削除', item_review_path(review.item.id), method: :delete, date: { confirm: "削除しますか?" } %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <% unless current_page?(item_path(review.item.id)) %>
        <div class="container">
          <div class="row">
            <div class="card-deck">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <img src=<%= review.item.image.url %> class="card-img-top" alt="カードの画像">
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= link_to review.item.name, item_path(review.item.id) %></h5>
                    <p class="card-text">投稿レビュー数 (<%= review.item.reviews.all.count %>)</p>
                    <%= render 'users/favorite_form', item: review.item %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </li>
  <!-- 星評価 -->
  <script>
  $('#star-rate-<%= review.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= review.rate %>
  });
  </script>
<% end %>
