<h2>ログイン</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password",placeholder: "パスワード", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :次回からログインを省略 %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class: 'btn btn-warning btn-block' %>
        </div>
        <div class="test-login">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: 'btn btn-warning btn-block ' %>
        </div>

      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
