<% provide(:title, "タイヤ一覧") %>
<div class="container">
  <% if @search_word.present? %>
    <h1 class="h3">”<%= @search_word %>”の検索結果：<%= @items.count %>件</h1>
  <% else %>
    <h1 class="h3">登録タイヤ一覧</h1>
  <% end %>
  <div class="item">
    <%= render 'shared/search' if user_signed_in? %>
    <ul class="list-group">
      <%= render 'shared/items', items: @items %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
