<% provide :title, "タイヤ登録" %>
<div class="container item">
  <%= form_with(model: @item, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'タイヤ名' %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, 'タイヤ詳細説明' %>
    <%= f.text_area :content, class: "form-control" %>
    <small class="form-text text-muted">300文字以内</small>
  </div>

  <div class="form-group">
    <%= f.label :image, '画像' %>
    <%= f.file_field :image, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= f.label :category, 'カテゴリ' %><br>
    <%= collection_check_boxes(:item, :category_ids, Category.all, :id, :name ) do |t| %>
      <%= t.label do %>
        <%= t.check_box %>
        <%= t.text %>
      <% end %>
    <% end %>
  </div>

  <%= f.submit 'タイヤ作成', class: 'btn btn-warning btn-block' %>
  <% end %>

  <%= link_to "カテゴリー追加はこちら", new_category_path if current_user.admin? %>

</div>
