<% provide :title, "タイヤ登録" %>
<div class="container item">
  <%= form_with(model: @item, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'アイテム名' %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :category, 'カテゴリ' %><br>
    <%= collection_check_boxes(:item, :category_ids, Category.all, :id, :name ) do |t|  %>
      <%= t.label do %>
        <%= t.check_box %>
        <%= t.text %>
      <% end %>
    <% end %>
  </div>

  <%= f.submit 'タイヤ作成' %>
  <% end %>

</div>
