<% provide(:title, @item.name) %>
<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section>
        <div class="item-image">
          <img src=<%= @item.image.url %>>
        </div>
        <%= render 'users/favorite_form', item: @item %>
        <div class="item-title">
          <h1><%= @item.name %></h1>
        </div>
        <div class="review-btn">
          <%= link_to 'レビューする', new_item_review_path(@item.id), class: 'btn btn-warning btn-block' %>
        </div>
        <div class="item-content">
          <p>タイヤ詳細 :<%= @item.content %></p>
        </div>
        <% @item.categories.each do |categories| %>
          <div class="category">
            <p>グリップカテゴリ :<%= categories.name %></p>
          </div>
        <% end %>

      </section>
      <%= link_to 'タイヤ削除', @item, method: :delete, date: { confirm: "削除しますか?" }, class: 'btn btn-danger btn-block' if current_user.admin? %>
    </aside>
    <div class="col-md-8">
      <% if @item.reviews.any? %>
        <h3><%= @item.reviews.count unless @item.reviews.count == 0 %>件のレビュー</h3>
        <ol class="reviews">
          <%= render 'shared/review', reviews: @reviews %>
        </ol>
        <%= will_paginate @reviews %>
      <% end %>
    </div>
  </div>
</div>
